$color-principal: #2182af;
$color-secundario: black;
$color-footer: #313131;
$color-nav: #2d2d2d;
$color-terciario: white;
$color-iconos:#31a9e3;
$color-p:#949494;
$color-gris:#f9f9f9;
$fuente-titulos: Montserrat, Helvetica, sans-serif;
$fuente-textos: "Open sans", Helvetica, sans-serif;
$fuente-huge: Oswald, Helvetica, sans-serif;
$peso-subtitulo: 600;
$tamano-subtitulo: 13px;
$tamano-titulo: 25px;
$line-height: 19px;